body {
	display: block;
	margin: 0px;
}
.main {
	text-align: center;
	margin: 0px;
	width: 100%;
}

h1 {
	color: #333;
}
p {
	margin: 0;
	line-height: 1.2;
}

span {
	display: inline-block;
	margin-right: 5px;
}
