body {
    display: block;
    margin: 0px;
  }
  .main {
      text-align: center;
      margin: 0px;
      width: 100%;
    }
    
    h1 {
      color: #333;
    }
    p {
        margin: 0; /* Устанавливаем отступы внутри параграфа на ноль */
        line-height: 1.2; /* Устанавливаем межстрочный интервал для более компактного расположения строк */
      }
      
      span {
        display: inline-block; /* Устанавливаем блочный тип для span, чтобы можно было управлять отступами */
        margin-right: 5px; /* Пример отступа между span'ами */
      }