body {
	display: block;
	margin: 0px;
	background-color: #3A3D4B;
}

.Code {
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;
}

.main_text {
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	font-weight: bold;
}

.main {
	text-align: center;
	margin: 0px;
	width: 100%;
}

h1 {
	color: #333;
}

.c1 {
	height: 65px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: linear-gradient(to right,#E8B261, #FFB648, #FFC56D, #FFE791);
	color: #ffffff;
}

.c2 {
	height: 105px;
	padding-top: 5%;
	background-color: #3A3D4B;
	display: flex;
	justify-content: center;
	align-items: center;

	flex-wrap: wrap;
}

.c2A {
	height: 105px;
	width: 100%;
	padding-top: 2%;
	background-color: #3A3D4B;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.c2_1 {
	padding-right: 10px;
	padding-left: 10px;
	width: 37%;
	height: 90px;
	background: linear-gradient(to right,#E8B261, #FFB648, #FFC56D, #FFE791);
	color: #ffffff;
	margin-right: 4%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
}

.c2_2 {
	padding-right: 10px;
	padding-left: 10px;
	width: 37%;
	height: 90px;
	background: linear-gradient(to right,#E8B261, #FFB648, #FFC56D, #FFE791);
	color: #ffffff;
	margin-right: 4%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	margin-right: 0%;
}

.c2_3 {
	padding-right: 10px;
	padding-left: 10px;
	width: 37%;
	height: 90px;
	background: linear-gradient(to right,#E8B261, #FFB648, #FFC56D, #FFE791);
	color: #ffffff;
	margin-right: 4%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
}

.c2_4 {
	padding-right: 10px;
	padding-left: 10px;
	width: 37%;
	height: 90px;
	background: linear-gradient(to right,#E8B261, #FFB648, #FFC56D, #FFE791);
	color: #ffffff;
	margin-right: 4%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	margin-right: 0%;
}

.c2_5 {
	padding-right: 10px;
	padding-left: 10px;
	width: 37%;
	height: 90px;
	background: linear-gradient(to right,#E8B261, #FFB648, #FFC56D, #FFE791);
	color: #ffffff;
	margin-right: 4%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
}

.c2_6 {
	padding-right: 10px;
	padding-left: 10px;
	width: 37%;
	height: 90px;
	background: linear-gradient(to right,#E8B261, #FFB648, #FFC56D, #FFE791);
	color: #ffffff;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	margin-right: 0%;
}

.c2B {
	height: 105px;
	width: 100%;
	background-color: #3A3D4B;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	
}
