body {
	display: block;
	margin: 0px;

	background-color: #ffffff;
}
p {
    margin: 0;
	color: white;
    line-height: 1.2;
}

.Competitions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Изменил на space-around для равномерного распределения пространства между блоками */
    align-items: flex-start;
    margin-bottom: 5%;
}

.header {
	align-items: center;
    background-color: #fad666;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 65px;
    justify-content: center;
    width: 100%;
    margin-bottom: 5%;
}

.text {
	font-size: 24px;
	font-weight: bold;
}

.info {
    flex-basis: calc(50% - 4%);
    margin-bottom: 5%;
    padding-right: 10px;
    padding-left: 10px;
    width: 40%;
    height: 200px;
    background-color: #fad666;
    color: #ffffff;
    margin-right: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    }

.name {
    font-size: 15px;
    font-weight: 700;
    padding-top: 5%;
    padding-bottom: 5%;
}
.registration {
    font-size: 12px;
    padding-top: 5%;
    padding-bottom: 5%;
}
.datestart {
    font-size: 12px;
    padding-top: 5%;
    padding-bottom: 5%;
}
.mainjudge {
    font-size: 12px;
    padding-top: 5%;
}
