body {
	display: block;
	margin: 0px;

	background-color: #ffffff;
}
p {
    margin: 0;
	color: white;
    line-height: 1.2;
}

.Competitions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    margin-bottom: 5%;
}

.header {
	align-items: center;
    background-color: #fad666;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 65px;
    justify-content: center;
    width: 100%;
    margin-bottom: 5%;
}

.text {
	font-size: 24px;
	font-weight: bold;
}

.info {
    display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	background-color: #fad666;
	height: 150px;
	border-radius: 15px;
	width: 95%;
	padding: 5% 2%;
	margin-bottom: 5%;
    }

.name {
    font-size: 20px;
	font-weight: bold;
    
}
.registration {
    font-size: 18px;
   
}
.datestart {
    font-size: 18px;
   
}
.mainjudge {
    font-size: 18px;
   text-align: center;
}
.link {
	background-color: #fad666;
	border-radius: 0 0 15px 15px;
	align-items: center;
	text-align: center;
	padding: .5%;
}
.button {
	background-color: black;
	font-weight: bold;
	font-size: 10px;
}