body {
	display: block;
	margin: 0px;

	background-color: #ffffff;
}
p {
    margin: 0;
	color: white;
    line-height: 1.2;
}

.Competitions {
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 5%;
	overflow: hidden;
}

.header {
	align-items: center;
    background-color: #fad666;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 65px;
    justify-content: center;
    width: 100%;
    margin-bottom: 5%;
}

.text {
	font-size: 24px;
	font-weight: bold;
}

.info {
	align-items: center;
    background-color: #fad666;
    border-radius: 15px;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 140px;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 40%;
}

.name {
    font-size: 15px;
    font-weight: 700;
    padding-top: 5%;
    padding-bottom: 5%;
}
.registration {
    font-size: 12px;
    padding-top: 5%;
    padding-bottom: 5%;
}
.datestart {
    font-size: 12px;
    padding-top: 5%;
    padding-bottom: 5%;
}
.mainjudge {
    font-size: 12px;
    padding-top: 5%;
}

