body {
	display: block;
	margin: 0px;
	background-color: #3A3D4B;
}
.main {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 5%;
	overflow: hidden;
}
.header {
	height: 65px;
	width: 80%;
	background-color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 9%;
	margin-top: 10%;
	border-radius: 30px;
}
.text {
	font-size: 24px;
	font-weight: bold;
}
.hacaton {
	width: 70%;
	text-align: flex-start;
}
.head {
	padding: 4%;
	height: 10%;
	background: linear-gradient(to bottom, #E8B261, #FFB648, #FFC56D, #FFE791);
	margin: 0%;
	border-radius: 15px 15px 0px 0px;
}
.description {
	background-color: #ffffff;
	height: auto;
	padding: 4%;
	font-size: 12px;
}
.info {
	margin-bottom: 4%;
}
.main_text {
	font-size: 20px;
}
.link {
	background: linear-gradient(to top,#E8B261, #FFB648, #FFC56D, #FFE791);
	border-radius: 0 0 15px 15px;
	align-items: center;
	text-align: center;
	padding: 2%;
}
.button {
	background-color: black;
	font-weight: bold;
	font-size: 10px;
    margin: 5px;
    padding: 5px;
    color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}
