body {
	display: block;
	margin: 0px;
	background-color: #3a3d4b;
}
.app {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-color: #3a3d4b;
}

.modal {
	background-color: #2e2e2e;
	border-radius: 10px;
	overflow: hidden;
	width: 300px;
}

.modal-header {
	background-color: #ffffff;
	padding: 20px;
	text-align: center;
}

.modal-title {
	font-size: 20px;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}

.modal-content {
	padding: 20px;
	text-align: center;
}

.input-field {
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #f2c94c;
	border-radius: 5px;
	box-sizing: border-box;
}

.create-button {
	background-color: #000000;
	color: #ffffff;
	padding: 10px 20px;
	border: none;
	border-radius: 20px;
	cursor: pointer;
	font-size: 16px;
}

.create-button:hover {
	background-color: #333333;
}
.main {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 5%;
	overflow: hidden;
}
.header {
	height: 65px;
	width: 80%;
	background-color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 9%;
	margin-top: 10%;
	border-radius: 30px;
	
}
.search {
	margin-left: 50px;
}
.text {
	font-size: 24px;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}
.hacaton {
	width: 70%;
	text-align: flex-start;
	font-family: 'Montserrat', sans-serif;
}
.head {
	padding: 4%;
	height: 10%;
	background: #f2c94c;
	margin: 0%;
	border-radius: 15px 15px 0px 0px;
}
.description {
	background-color: #ffffff;
	height: auto;
	padding: 4%;
	font-size: 12px;
	font-family: 'Montserrat', sans-serif;
	border-top: 10px solid #f2c94c;
	border-right: 10px solid #f2c94c;
	border-left: 10px solid #f2c94c;
}
.info {
	margin-bottom: 4%;
	font-family: 'Montserrat', sans-serif;
}
.main_text {
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
}
.link {
	background-color: #f2c94c;
	border-radius: 0 0 15px 15px;
	align-items: center;
	display: flex;
	text-align: center;
	padding: 4%;
}
.button1 {
	justify-content: center;
	width: 100%;
	background-color: black;
	font-weight: bold;
	font-size: 10px;
	margin: 5px;
	padding: 10px;
	color: white;
	border: none;
	text-align: center;
	text-decoration: none;
	display: flex;
	cursor: pointer;
	border-radius: 11px;
	font-family: 'Montserrat', sans-serif;
}
.button2 {
	justify-content: center;
	width: 100%;
	background-color: black;
	font-weight: bold;
	font-size: 10px;
	margin: 5px;
	padding: 10px;
	color: white;
	border: none;
	text-align: center;
	text-decoration: none;
	display: flex;
	cursor: pointer;
	border-radius: 11px;
	font-family: 'Montserrat', sans-serif;
}
